{% extends 'base.html' %}

{% load static %}

{% block contents %}

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>About Us</h2>
            <ul>
                <li>
                    <a href="index.html">
                        <i class="bx bx-home"></i>
                        Home 
                    </a>
                </li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start About Us Area -->
<section class="about-us-area py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{% static 'assets/img/about.png'%}" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="about-title">
                        <span>About Us</span>
                        <h2>A New Way Of Doing Things</h2>
                    </div>

                    <div class="tab">
                        <ul class="tabs active">
                            <li class="current">
                                Our Experience
                            </li>
                            
                        </ul>

                        <div class="tab_content">
                            <div class="tabs_item">
                                <p>We are the company with a team of engineers experts in technologies working together delivering innovative solutions to the society and companies. We designs proffessional websites, automate office operations and software developments. We use our creativity and innovations to develop and design the best solutions and websites for your business.</p>

                                <ul>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        24/7 Support 
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Creative On Design
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Experienced Team
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Easy Admin Management 
                                    </li>
                                </ul>
                            </div>

                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us Area -->

<!-- Start Our Challenges Area -->
<!-- Start Our Challenges Area -->
<section class="challenges-area challenges-area-two pt-100 pb-70">
    <div class="container">
        <div class="section-title white-title">
            <span>Our Methodologies</span>
            <h2>We make sure we meet your requirements and quality products</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-challenges overly-one">
                    <div class="overly-two">
                        <i class="flaticon-threat"></i>
                        <h3>Requirement Gathering</h3>
                        <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                        <span class="flaticon-threat"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-challenges overly-one">
                    <div class="overly-two">
                        <i class="flaticon-cyber"></i>
                        <h3>UI Design</h3>
                        <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                        <span class="flaticon-cyber"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-challenges overly-one">
                    <div class="overly-two">
                        <i class="flaticon-cyber-security-1"></i>
                        <h3>Website Developement</h3>
                        <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                        <span class="flaticon-cyber-security-1"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-challenges overly-one">
                    <div class="overly-two">
                        <i class="flaticon-password"></i>
                        <h3>Test & Support</h3>
                        <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                        <span class="flaticon-password"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="challenges-shape">
        <img src="{% static 'assets/img/challenges-shape.png'%}" alt="Image">
    </div>
</section>
<!-- End Our Challenges Area -->

<!-- Start Protect Area -->
<section class="protect-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="protect-img">
                    <img src="{% static 'assets/img/protect-img.jpg'%}" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="protect-content">
                    <div class="protect-title">
                        <span>Cyber Security Protect</span>
                        <h2>Protect your website, web server, and web application for helping you being threats from the hacker</h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-challenges overly-one">
                                <div class="overly-two">
                                    <i class="flaticon-database"></i>
                                    <h3>Database Security</h3>
                                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                                    <span class="flaticon-database"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="single-challenges overly-one">
                                <div class="overly-two">
                                    <i class="flaticon-application"></i>
                                    <h3>Database Security</h3>
                                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                                    <span class="flaticon-application"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="single-challenges overly-one">
                                <div class="overly-two">
                                    <i class="flaticon-security"></i>
                                    <h3>Web Security</h3>
                                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                                    <span class="flaticon-security"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="single-challenges overly-one">
                                <div class="overly-two">
                                    <i class="flaticon-security-1"></i>
                                    <h3>Server Security</h3>
                                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                                    <span class="flaticon-security-1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Eed Protect Area -->


  
{% endblock contents %}