{% extends 'base.html' %}

{% load static %}

{% block contents %}

<section class="banner-area banner-area-two bg-2 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="banner-content">
            
            <h1>Best Designs, Best Websites , More Customers</h1>
            <p>We are a team of creative engineers making awesome websites and software.</p>
            <a href="about.html" class="default-btn">
                <span>About Us</span>
            </a>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Start Feature Area -->
<section class="feature-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-feature overly-one">
                    <div class="overly-two">
                        <div class="title">
                            <i class="flaticon-testing"></i>
                            <h3>Website Design</h3>
                        </div>
                        <p>We designs and develop professional and affordable websites for organiztions, business, ecommerces, companies, NGO and all related.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-feature overly-one">
                    <div class="overly-two">
                        <div class="title">
                            <i class="flaticon-cybercrime"></i>
                            <h3>Web Hosting</h3>
                        </div>
                        <p>Our hosting servers are in UK and USA and we garantee 24 hour 7 days a week uptime..</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="single-feature overly-one">
                    <div class="overly-two">
                        <div class="title">
                            <i class="flaticon-cyber-security"></i>
                            <h3>Professinal Email</h3>
                        </div>
                        <p>Want to have professional emails with your custom name? We are here for you. You can have any kind of emails with domain of your choice. eg jaffary@yourcompanyname.co.tz</p>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feature Area -->

<!-- Start Our Approach Area -->
<section class="about-us-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{% static 'assets/img/about.png'%}" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="about-title">
                        <span>About Us</span>
                        <h2>A New Way Of Doing Things</h2>
                    </div>

                    <div class="tab">
                        <ul class="tabs active">
                            <li class="current">
                                Our Experience
                            </li>
                            
                        </ul>

                        <div class="tab_content">
                            <div class="tabs_item">
                                <p>We are the company with a team of engineers experts in technologies working together delivering innovative solutions to the society and companies. We designs proffessional websites, automate office operations and software developments. We use our creativity and innovations to develop and design the best solutions and websites for your business.</p>

                                <ul>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        24/7 Support 
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Creative On Design
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Experienced Team
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Easy Admin Management 
                                    </li>
                                </ul>
                            </div>

                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Our Approach Area -->

<!-- Start Our Challenges Area -->
<section class="challenges-area challenges-area-two pt-100 pb-70">
    <div class="container">
        <div class="section-title white-title">
            <span>Our Methodologies</span>
            <h2>We make sure we meet your requirements and quality products</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-challenges overly-one">
                    <div class="overly-two">
                        <i class="flaticon-threat"></i>
                        <h3>Requirement Gathering</h3>
                        <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                        <span class="flaticon-threat"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-challenges overly-one">
                    <div class="overly-two">
                        <i class="flaticon-cyber"></i>
                        <h3>UI Design</h3>
                        <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                        <span class="flaticon-cyber"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-challenges overly-one">
                    <div class="overly-two">
                        <i class="flaticon-cyber-security-1"></i>
                        <h3>Website Developement</h3>
                        <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                        <span class="flaticon-cyber-security-1"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-challenges overly-one">
                    <div class="overly-two">
                        <i class="flaticon-password"></i>
                        <h3>Test & Support</h3>
                        <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit sed do.</p>
                        <span class="flaticon-password"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="challenges-shape">
        <img src="{% static 'assets/img/challenges-shape.png'%}" alt="Image">
    </div>
</section>
<!-- End Our Challenges Area -->

<!-- Start Services Area -->
<section class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Website Design Services</span>
            <h2>
                We delivers the best products and solutions.</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-services">
                    <div class="services-img">
                        <a href="services-details.html">
                            <img src="{% static 'assets/img/services/services-1.jpg'%}" alt="Image">
                        </a>
                    </div>

                    <div class="services-content">
                        <h3><a href="services-details.html">Website Design</a></h3>
                        <p>We design good and attractive website that will attracts more customers.</p>

                        <a href="services-details.html" class="read-more">
                            Read More
                            <i class="flaticon-right-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-services">
                    <div class="services-img">
                        <a href="services-details.html">
                            <img src="{% static 'assets/img/services/services-2.jpg'%}" alt="Image">
                        </a>
                    </div>

                    <div class="services-content">
                        <h3><a href="services-details.html">Web Hosting</a></h3>
                        <p>We are responsible for your online presence with  24/7 support</p>

                        <a href="services-details.html" class="read-more">
                            Read More
                            <i class="flaticon-right-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-services">
                    <div class="services-img">
                        <a href="services-details.html">
                            <img src="{% static 'assets/img/services/services-3.jpg'%}" alt="Image">
                        </a>
                    </div>

                    <div class="services-content">
                        <h3><a href="services-details.html">Professional Emails</a></h3>
                        <p>We make your business more professional using professional emails.</p>

                        <a href="services-details.html" class="read-more">
                            Read More
                            <i class="flaticon-right-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-services">
                    <div class="services-img">
                        <a href="services-details.html">
                            <img src="{% static 'assets/img/services/services-4.jpg'%}" alt="Image">
                        </a>
                    </div>

                    <div class="services-content">
                        <h3><a href="services-details.html">Software Developement</a></h3>
                        <p>We develop and support that solve your problems and make your business shine over your competitors.</p>

                        <a href="services-details.html" class="read-more">
                            Read More
                            <i class="flaticon-right-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Pricing Area -->
<section class="pricing-area bg-color pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Hosting Packages</span>
            <h2>We provides difference hosting packages</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-pricing overly-one">
                    <div class="overly-two">
                        <div class="pricing-title">
                            <h3>Basic</h3>
                            <h2><Sub>Tsh</Sub>80000</h2>
                            <span>/Per year</span>
                        </div>

                        <ul>
                            <li>5 Email Account</li>
                            <li>Your Domain Name</li>
                            <li>500MB Space</li>
                            <li>24/7 Live Assistance</li>
                            <li>Cpanel Management</li>
                            <li>Outlook Configaration</li>
                        </ul>

                        <a href="#" class="default-btn">
                            <span>Read More</span>
                        </a>

                        <div class="pricing-shape">
                            <img src="{% static 'assets/img/pricing-shape.png'%}" alt="Image">
                        </div>

                        <div class="pricing-shape-2">
                            <img src="{% static 'assets/img/pricing-shape-2.png'%}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-pricing overly-one active">
                    <div class="overly-two">
                        <div class="pricing-title">
                            <h3>Popular</h3>
                            <h2><Sub>Tsh</Sub>120000</h2>
                            <span>/Per Year</span>
                        </div>

                        <ul>
                            
                                <li>10 Email Account</li>
                                <li>Your Domain Name</li>
                                <li>1GB Space</li>
                                <li>24/7 Live Assistance</li>
                                <li>Cpanel Management</li>
                                <li>Outlook Configaration</li>
                        
                        </ul>

                        <a href="#" class="default-btn">
                            <span>Order Now</span>
                        </a>

                        <div class="pricing-shape">
                            <img src="{% static 'assets/img/pricing-shape.png'%}" alt="Image">
                        </div>

                        <div class="pricing-shape-2">
                            <img src="{% static 'assets/img/pricing-shape-2.png'%}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-pricing overly-one">
                    <div class="overly-two">
                        <div class="pricing-title">
                            <h3>Standard</h3>
                            <h2><Sub>Tsh</Sub>210000</h2>
                            <span>/Per Year</span>
                        </div>

                        
                            <ul>
                            
                                <li>20 Email Account</li>
                                <li>Your Domain Name</li>
                                <li>2GB Space</li>
                                <li>24/7 Live Assistance</li>
                                <li>Cpanel Management</li>
                                <li>Outlook Configaration</li>
                        
                        </ul>

                        <a href="#" class="default-btn">
                            <span>Read More</span>
                        </a>

                        <div class="pricing-shape">
                            <img src="{% static 'assets/img/pricing-shape.png'%}" alt="Image">
                        </div>

                        <div class="pricing-shape-2">
                            <img src="{% static 'assets/img/pricing-shape-2.png'%}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Latest News</span>
            <h2>Stay Up-To-Date with the latest digital trends</h2>
        </div>

        <div class="row">
           {% for article in articles %}
           <div class="col-lg-6 col-md-6">
            <div class="single-blog">
                <div class="blog-img">
                    <a href="blog-details.html">
                        <img src="{{article.image.url}}" alt="">
                    </a>
                </div>

                <div class="blog-content">
                    <span>{{article.date}}</span>
                    <h3><a href="{{ article.get_absolute_url }}">{{article.title}}</a></h3>
                   
                    <a href="{{article.get_absolute_url}}" class="read-more m-2">
                        Read More
                        <i class="flaticon-right-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
             
           {% endfor %}

            

        </div>
    </div>
</section>
<!-- End Blog Area -->
  
{% endblock  %}